<!DOCTYPE html>
<html class="dark">
  <head>
    <title>DailyHabitsTracker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-800 text-white">
    <%# Make this prettier with stimulus and tailwind %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%#  %>
    <main class="container mx-auto mt-28 px-5 flex flex-col">
      <%# devise logout link is current user logged in %>
      <% if user_signed_in? %>
        <p>
          <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "bg-red-500 hover:bg-red-600 text-white px-4 py-2 rounded-md mb-10" %>
        </p>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
